<!-- templates/registration/login.html -->
{% extends 'base.html' %}


{% block title %}Other Profile{% endblock %}

{% block content %}
<div class="upperbody">
    <div class="pretitle">Built by 200050013-200050130</div>
    <div class="title">
        <h1>Hi {{ user.first_name }}! Welcome to Github Profiles!</h1>
    </div>
    <div class="hero-cta">
        <a href="../explore" class="pressit">Explore</a>
        <a href="../profile" class="pressit">My Profile</a>
        <a href="{% url 'logout' %}" class="pressit">Logout</a>
    </div>
</div>
<div class="userDetails">
    <h2>{{ first_name }} {{last_name}} (@{{ name }})</h2>
    {% if error %}
    {{error}}
    <br>
    {% endif %}
    {% if followers and time %}
    You currently have {{followers}} followers.
    <br>
    Your profile was last updated at- {{time}} (GMT).
    {% endif %}
    <br>
    <br>
    A snapshot of your repositories : <br>
    <ul>
        {% for repo in all_repos %}
            <li>
                {{ repo }}
            </li>
        {% endfor %}
    </ul>

    <!-- {% if name == user.username %}
    <form id="update" method="post" action="../../profile/" >
        {% csrf_token %}
        <input type="hidden" name="username" value={{ user.username }} />
        <button type="submit">Update Now</button>
    </form>
    {% endif %} -->

</div>

{% endblock %}
