<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="upperbody">
  <div class="pretitle">Built by 200050013-200050130</div>
  {% if user.is_authenticated %}
  <div class="title">
    <h1>Hi {{ user.username }}! Welcome to Github Profiles!</h1>
  </div>
  <div class="hero-cta">
    <a href="../explore" class="pressit">Explore</a>
    <a href="/" class="pressit">My Profile</a>
    <a href="{% url 'logout' %}" class="pressit">Logout</a>
  </div>
</div>
<div class="userDetails">
  <h2>Linus Torvalds (@torvalds)</h2>
  <div class="followers">141091 followers</div>
  <div class="weblink">Profile last updated : Aug 17, 2021, 8:27 pm
    <a href="#">(Update Now)</a>
  </div>
  <ul>
    <li>linux - 116456 stars</li>
    <li>uemacs - 733 stars</li>
    <li>test-lib - 370 stars</li>
    <li>pesconvert - 188 stars</li>
    <li>subsurface-for-dirk - 171 stars</li>
    <li>libdc-for-dirk - 113 stars</li>
  </ul>
</div>
{% else %}
<div class="title">
  <h1>You are not logged in</h1>
</div>
<div class="hero-cta">
  <a href="{% url 'signup' %}" class="pressit">Signup</a>
  <a href="{% url 'login' %}" class="pressit">Login</a>
</div>
{% endif %}
{% endblock %}